{% extends 'flatpages/default.html' %}

{% load censor_filters %}

{% block title %}
Post
{% endblock title %}

{% block content %}
    <table>
        <thead>
            <th>
                Автор
            </th>
            <th>
                Категория новости
            </th>
            <th>
                Дата создания
            </th>
            <th>
                Заголовок
            </th>
            <th>
                Текст новости
            </th>
            <th>
                Рейтинг новости
            </th>
            <th>
                Рейтинг автора
            </th>
        </thead>
        <tr>
            <td>
                {{ new.author.authorUser }}
            </td>
            <td>
                {{ new.categoryType }}
            </td>
            <td>
                {{ new.dateCreation }}
            </td>
            <td>
                {{ new.title|censor }}
            </td>
            <td>
                {{ new.text|censor }}
            </td>
            <td>
                {{ new.rating }}
            </td>
            <td>
                {{ new.author.ratingAuthor }}
            </td>
        </tr>
    </table>
    <br>
    <button> <a href="/news/subscribers/">Подписаться на категории новостей</a> </button>
    <br>
{% endblock content %}
