{% extends 'flatpages/default.html' %}

{% load censor_filters %}

{% block title %}
Post list
{% endblock title %}

{% block content %}
    <br>
    <button> <a href="/news/search/">Поиск новостей</a> </button>
    <br>
    <h1>Постраничный вывод новостей</h1>
    <br>
    {% if news %}
        <table>
            <thead>
                <th>
                    Заголовок
                </th>
                <th>
                    Дата публикации
                </th>
                <th>
                    Текст статьи
                </th>
            </thead>

            {% for new in news %}
            <tr>
                <td>
                    <a href="{% url 'post_detail' new.id %}">{{ new.title|censor }}</a>
                    <a href="{% url 'post_update' new.id %}"><u>Редактировать</u></a>
                    <a href="{% url 'post_delete' new.id %}"><u> Удалить </u></a>
                </td>
                <td>
                    {{ new.dateCreation }}
                </td>
                <td>
                    {{ new.text|truncatechars:50|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    <br>
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <button> <a href="/news/signup/">Зарегистрироваться</a> </button>
    <br>
    <br>
    <button> <a href="subscribers/">Подписаться на категории новостей</a> </button>
    <br>
    <br>
    <button> <a href="add/">Добавить новость</a></a> </button>
    <br>
    <br>
    {% if request.user.is_authenticated %}
            <button> <a href="upgrade/">Стать автором</a></a> </button>
    {% endif %}
    <br>
    <br>
    <br>
    {% if request.user.is_authenticated %}
        <button> <a href="add/newapp/logout/">Выйти</a> </button>
    {% endif %}


{% endblock content %}
